/* Write your CSS code here */
.app-container {
  display: flex;
  justify-content: row;
}
.header-logo-container {
  display: flex;
  flex-direction: row;
  padding: 50px;
}
.header-links-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-left: auto;
  padding: 50px;
}
.logo-img {
  height: 50px;
  padding-right: 20px;
}
.heading {
  line-height: 0px;
}
.links {
  margin-right: 20px;
}
